page-home {
    h1.program-name {
        background: #212121;
        color: white;
        margin-bottom: 0px;
        padding: 20px;
        margin-top: 0px;
        font-family: "Anton"
    }
    .program-banner {
        height: 300px;
        background-image: url('http://embed.widencdn.net/img/centennialcollege/8fjq7xg3n9/615x341px/software%20eng%202013%20DSC_1585.jpeg?keep=c&quality=100&u=hstwhr');
        position: relative;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        &:before{
            content: "";
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .program-summary {
        background: #212121;
        color: white;
        padding: 5px 15px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        position: relative;
        h2 {
            font-family: "OpenSans";
            font-weight: 600;
        }
        p {
            font-family: "OpenSans";
            font-weight: 400;
            color: white;
            font-size: 17px;
            span {
                color: #d4df38;
                margin-right: 5px;
            }
        }
    }
    .program-overview {
        margin-top: 20px;
        p {
            font-size: 16px;
        }
    }
    .card {
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        background: #D4DD48;
        overflow: auto;
        .information {
            float: left;
            width: 65%;
            vertical-align: top;
            h3 {
                margin-top: 0;
            }
        }
        .avatar {
            float: right;
            width: 30%;
            border: 1px solid black;
            img {
                width: 100%;
            }
        }
    }
}
