page-comments {
  .card {
    background: #F0F0F0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    img {
      width: 60px;
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 5px;
    }
    .card-body {
      margin-left: 75px;
      .name, .timestamp {
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 16px;
      }
      .timestamp {
        margin-top: 5px;
        text-transform: uppercase;
        color: #8e8a8a;
        font-size: 14px;
      }
      p {
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
